.PokeGrid {
    display: grid;
    grid-template-columns: 100px 100px;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: yellow;
    width: 400px;
    height: 300px;
    overflow: auto;
}


img {
    width: 100px;
    height: 80px;
}
